*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    
}

h1{
    padding-top: 0%;
    padding-left: 15%;
    color: black;
    font: 8em sans-serif;
}

h1.surname{
    padding-left: 18%;
}

article{
    font: 1.5em sans-serif;
    padding-left: 52%;
    padding-right: 20%;
}
header{
    font: 1.6em sans-serif;
    padding-bottom: 1%;
}

div.widget{
    
    padding-bottom: 20%;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 20px;
    background-color: aqua;
    cursor: pointer;
    transition: background-color 0.3s ease,transform 0.3s ease;

    
}

div.widget:hover{
    background-color: rgb(59, 198, 245);
    transform: scale(1.05)
    
    
}

.projects-title{

}