

body {
    overflow: scroll;
    
  }
  

 
  h1{
    color: black;
    text-align: center;
    font-size: 50px;
    
  
  }
  
  
  
  h2 {
    color: black;
    text-align: left;
    font-size: x-large;
    word-wrap: pass 
  }
  
  .Goals {
      inline-size: 500px;
      color: black;
  }
  
  .btn{
       background-color: rgba(0, 56, 241, 0.89); 
       padding-top: 20px;
       padding-right: 50px;
       padding-bottom: 20px;
       padding-left: 50px;
       text-align: center;
       text-decoration: none;
       right: 200px;
       
       font-size: 30px;
       border:  blue;
       color: white;
       font-family: 'Quicksand' ,sans-serif;
       cursor: pointer;
           
  }

  .btn:hover{
       opacity: 0.6
  }
  /*::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    background: gray;

  }
  ::-webkit-scrollbar-thumb{
    background: black;
  }

  ::-webkit-scrollbar-thumb:hover{
    background: rebeccapurple;

  }
  /*::-webkit-scrollbar-track-piece{
    background: lightgray;
  }*/
   #btn-1{
       position: pass;
  }
  
  
 
.Table{
  border: solid 1px black;
  display: flex;
}


.Table > div{
  flex: 1;
  text-align: center;
  border: solid 1px black;
}
.Table > div > div{
  border: solid 1px black;

}